/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
    font-size: 16px;
    line-height: 18.4px;
}

img {
    width: 100px;
}

#hero {
    height: 343px;
    background-image: url("images/bellingham-hero-web.jpg");
    background-size: cover;
    margin: 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#hero-title {
    background: #1D3557;
    width: 250px;
    font-size: 32px;
    color: #ffffff;
    margin: 10px auto;
    padding: 5px 10px;
    border-radius: 10px;
    line-height: 37px;
}

#hero-description {
    width: 355px;
    font-size: 18.72px;
    font-weight: 700;
    line-height: 22px;
    background: #457B9D;
    color: #ffffff;
    margin: 0 auto;
    padding: 5px 20px;
    border-radius: 10px;
}

#activity {
    margin: 0;
    border: none;
    /* height: 343px; */
    background: #F1FAEE;
    color: #1D3557;
    padding: 30px;
}

.activity-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.activity-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.guide-card {
    width: 400px;
    background: #A8DADC;
    margin: 50px auto;
    padding: 23px 10px;
    border-radius: 10px;
    box-shadow: 0px 5px #1D3557;
    display: flex;
    flex-direction: row-reverse;
    color: #1D3557;
}

.guide-info {
    width: 180px;
    margin: 0 5px;
}

.guide-title {
    font-size: 24px;
}

.guide-description {
    font-style: italic;
}

.guide-img {
    background-image: url("images/chad_grandpa.webp");
    background-size: cover;
    width: 180px;
    border-radius: 10px;
}




